extends layout

block content
	.container
		form(method='post', action='contacto/enviar')
			h1 Contacto
			.form_group
			label Nombre
			input.form-control(type='text', name='nombre', placeholder='Ingrese su nombre')
			.form_group
			label Contrase単a
			input.form-control(type='password', name='password', placeholder='Ingrese su contrase単a')
			.form_group
			//label Repetir Contrase単a
			//input.form-control(type='password', name='password', placeholder='Reingrese su contrase単a')
			//.form_group
			button.btn.btn-default(type='submit') Crear Usuario!